body {
    color: #565656;
}

.fullPage {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    height: 100vh;
    background: url(/pairing-stations.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    color: #444;
    margin: 0;
    padding: 0;
}

.centerForm {
    display: table-cell;
    min-width: 400px;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.button-default,
.button-primary,
.button-success,
.button-error,
.button-warning,
.button-secondary {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    margin: 0px 0px 0px 7px !important;
}

.button-default {
    background: #394F66; 
}

.button-primary {
    background: #3E94B4; 
}

.button-success {
    background: rgb(19, 145, 48); /* this is a green */
}

.button-error {
    background: rgb(129, 23, 23); /* this is a maroon */
}

.button-warning {
    background: rgb(175, 94, 18); /* this is an orange */
}

.button-secondary {
    background: rgb(66, 184, 221); /* this is a light blue */
}

.button-default:hover,
.button-primary:hover,
.button-success:hover,
.button-error:hover,
.button-warning:hover,
.button-secondary:hover {
    filter: brightness(90%);
}

.button-xsmall {
    font-size: 70%;
}

.button-small {
    font-size: 85%;
}

.button-large {
    font-size: 110%;
}

.button-xlarge {
    font-size: 125%;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #ccc;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #ccc;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #ccc;
}

.input100 {
    width: 100%;
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

.container {
    margin-left: 21px;
    margin-right: 21px;
}

/* Dropdown Button */
.dropbtn {
    background-color: #fff;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    left: -100px;
    top: 35px;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 3px;
    border: 1px solid #ccc;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #fff;
}

.pure-form label {
    width: 100%;
}

form.pure-form {
    max-width: 500px;
    width: -webkit-calc(100% - 10px);
    width: -moz-calc(100% - 10px);
    border: 0px #ccc solid;
    margin: auto;
}

form.pure-form label {
    margin-left: 7px !important;
    margin-top: 21px;
    color: #444;
}

form.pure-form input {
    width: 95%;
    margin-left: 7px !important;
}
form.pure-form textarea {
    width: 95%;
    margin-left: 7px;
}

div.form-buttons {
    float: right;
    white-space: nowrap;
    margin: 0px 21px 0px 12px;
}

input.dark {
    background-color: #f1f1f1;
}

a {
    color: #3C86A8;
    text-decoration: underline;
}

a:hover {
    filter: brightness(70%);   
}

.empty-list {
    text-align: center;
    max-width: 500px; 
    font-weight: bold; 
    color: #dcdcdc;
    font-size: 2em;
    margin: 30px auto 0px auto;
}

.auto-margin {
    margin: 0px auto 0px auto;
    padding: 12px;
}

.errorMessage {
    width: 100%; 
    text-align: center; 
    color: #990000; 
    font-size: .8em;
    height: 24px;
    vertical-align: middle;
    margin: 7px 0px 7px 7px;
}

.bolded-link {
    font-weight: bold;
    text-decoration: underline;
    font-size: 1em;
}

.bolded-link:hover {
    font-size: 1.25em;
}

label, label.pure-form, label.pure-form-horizontal {
    font-weight: bold !important;
    color: #999 !important;
}
